*.pem
*.ppk
*.gitkeep
*.lock
composer.phar

.idea/

app/storage/
app/config/
app/_ide_helpers.php
_ide_helper.php

vendor/

public/img/news/
public/img/pics/
public/img/logos/
public/img/avatars/
public/img/subjects/

app/views/sitemap/sitemap.php
app/views/sitemap/sitemaps
bootstrap/start.php