.idea/
public/img/pics
public/img/logos/
public/img/avatars/
*.gitkeep
*.lock
app/storage
app/_ide_helpers.php
app/config/local
app/config/production
app/config/testing
vendor/
bootstrap/compiled.php
public/sitemap.xml
public/sitemaps/
composer.phar