html, body {
    height: 100%;
}
body {
    margin: 0; 
    padding: 0;
    font-family: raleway-regular, sans-serif;
    background-color: #F4F4F4;
}

@font-face {
    font-family: raleway-thin;
    src: url(../fonts/Raleway-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: raleway-xlight;
    src: url(../fonts/Raleway-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: raleway-light;
    src: url(../fonts/Raleway-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: raleway-regular;
    src: url(../fonts/Raleway-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: raleway-medium;
    src: url(../fonts/Raleway-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: raleway-semibold;
    src: url(../fonts/Raleway-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: raleway-bold;
    src: url(../fonts/Raleway-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: raleway-xbold;
    src: url(../fonts/Raleway-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: raleway-heavy;
    src: url(../fonts/Raleway-Heavy.ttf);
    font-weight: 900;
}
@font-face {
    font-family: 'texgyreadventorregular';
    src: url('../fonts/texgyreadventor-regular-webfont.eot');
    src: url('../fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/texgyreadventor-regular-webfont.woff') format('woff'),
    url('../fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
    url('../fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a, a:link, a:hover, a:active, a:visited {
     text-decoration: none;
}

.top-buffer-5 { margin-top:5px; }
.top-buffer-10 { margin-top:10px; }
.top-buffer-15 { margin-top:15px; }
.top-buffer-20 { margin-top:20px; }
.top-buffer-25 { margin-top:25px; }
.top-buffer-30 { margin-top:30px; }
.top-buffer-35 { margin-top:35px; }
.top-buffer-45 { margin-top:45px; }

.bottom-buffer-5 { margin-bottom:5px; }
.bottom-buffer-10 { margin-bottom:10px; }
.bottom-buffer-15 { margin-bottom:15px; }
.bottom-buffer-20 { margin-bottom:20px; }
.bottom-buffer-25 { margin-bottom:25px; }
.bottom-buffer-30 { margin-bottom:30px; }
.bottom-buffer-35 { margin-bottom:35px; }
.bottom-buffer-45 { margin-bottom:45px; }

.top-padding-25 { padding-top: 25px; }
.top-padding-50 { padding-top: 50px; }
.top-padding-70 { padding-top: 70px; }

.bottom-padding { padding-bottom: 25px; }
.bottom-padding-25 { padding-bottom: 25px; }
.bottom-padding-35 { padding-bottom: 35px; }
.bottom-padding-50 { padding-bottom: 50px; }
.bottom-padding-80 { padding-bottom: 80px; }
.bottom-padding-100 { padding-bottom: 100px; }
.bottom-padding-150 { padding-bottom: 150px; }
.bottom-padding-200 { padding-bottom: 200px; }

.margin-left-15 { margin-left: 15px; }
.left-buffer-25 { margin-left: 25px; }

.background-white { background-color: #ffffff; }
.background-287AF9 { background-color: #287AF9; color: #fff; font-weight: 700; }
.background-E79500 { background-color: #E79500; color: #000; font-weight: 700; }


/* GENERIC PAGES */
.overflow-allowed { overflow: visible; }
.magic-align { margin-top: -105px; }
.hr-page-end {
    border:0;
    width:70%;
    color: rgb(255, 169, 17);
    background-color: rgb(255, 169, 17);
    height: 1px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.background-lamp {
    background: #B9B9B9 url(../img/fondo-header.jpg) top center no-repeat;
}
.background-gblack {
    background: #000 url(../img/home1.png) top left repeat;
}
.generic-title {
    font-family: raleway-semibold, sans-serif;
}
.generic-subtitle {
    font-family: raleway-regular, sans-serif;
    font-size: 1.2em;
}
.generic-box{
    -webkit-box-shadow: -7px 4px 5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: -7px 4px 5px 0 rgba(0,0,0,0.2);
    box-shadow: -7px 4px 5px 0 rgba(0,0,0,0.2);
    border: 1px solid #A4A5A5;
    background-color: #eeeeee;
    color:#000;
}
/* END GENERIC */

/*
*/
/************************ LAYOUT ************************/
/*
*/

/*********************** Layout - header ************************/

.mp-bgcolor {
	background-color: #656565;
}

.mp-color {
	color: #656565;
}

.navbar {
    margin-bottom: 0 !important;
    height:auto !important;
    /*position: fixed;*/
    /*width: 100%;*/
}

.navbar-collapse {
    background-color: rgb(255, 196, 35);
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #333 !important;
}

.navbar-inverse .navbar-toggle:focus {
    background-color: rgb(255, 196, 35);
}

.navbar-inverse {
    padding-top: 15px;
    padding-bottom: 2px;
	background-color: rgb(255, 196, 35);
}

.navbar-brand {
    color: #000000 !important;
    padding: 7px 15px 7px 15px; !important;
    font-size: 2.5em;
    font-weight: 300 !important;
}

.navbar-brand a:hover {
    color: #7c7c7c !important;
}

.nav li a {
    /*border-right: solid 1px #333;*/
    padding: 7px 15px 7px 15px; !important;
    color:#000000 !important;
}

.nav li a:hover {
    color: #7c7c7c !important;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.alert-cookies {
	color: #434343;
	background-color: rgb(242, 243, 245);
	margin-bottom: 0;
    /*position: fixed;*/
}

#loginbox a {
    line-height: 20px;
    padding: 7px 15px 7px 15px;
    display: inline-block;
    color: #000000;
}

.left-separator {
    border-left: solid 1px #333;
}

.right-separator {
    border-right: solid 1px #333;
}

#loginbox a:hover {
	color: #7c7c7c;
}

/************************ Layout - footer ************************/

#footer-apps {
    background:url(../img/home1.png) top left repeat;
    padding: 25px 0 25px 0;
    height: auto;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    position: relative;
}

.footer-right-separator {
    border-right: solid 1px rgb(255, 169, 17);
}

.footer-left-separator {
    border-left: solid 1px rgb(255, 169, 17);
}

.footer-glyphicon {
    color: #0480be;
    font-size: 1.4em;
}

#footer-brand {
    font-size: 4.0em;
    font-weight: 300;
    color:#000;
    /*font-family: sans-serif;*/
    /*text-shadow: 2px 1px 1px #fff;*/
}

#footer-brand a {
    text-decoration: none;
    color: #000000;
}

.footer-contact {
    font-size: 1.1em;
    color: #ffffff;
}

#footer-follow {
    font-size: 1.2em;
    color: #ffffff;
}

#footer-follow a {
    font-size: 1.1em;
    color: #ffffff;
}

#footer-faicons {
    color: #ffffff;
    font-size: 1.4em;
}

#footer-faicons a {
    color: #ffffff;
}

#footer {
    background-color: rgb(255, 169, 17);
    padding: 15px 0 15px 0;
    height: auto;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    position: relative;
}

#footer a {

}

.footer-links, .footer-links a {
    color: #000000;
}

.footer-links a:hover {
    color: #0480be;
}


.img-recientes {
    max-width: 95%;
    margin: 15px 0 0 0;
    padding: 0 0 0 0;
}

.unpadded {
    padding: 2px 2px 2px 2px !important;
}

.recent-selectors {
    padding: 0 2px 0 2px;
    margin-bottom:10px;
}

.last-image-container {
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    height:52px;
    line-height:48px;
    background-color: #f5f5f5;
    width: 100%;
    -webkit-box-shadow: 0 8px 6px -10px black;
    -moz-box-shadow: 0 8px 6px -10px black;
    box-shadow: 0 8px 6px -10px black;
}

.last-image-container img {
    max-width:100%;
    max-height:100%;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.recent-title {
    color:rgb(255, 169, 17);
    margin-bottom: 10px;
}

.contact-form-label {
    color:rgb(255, 169, 17);
    margin-top:5px;
}

.contact-form-submit-btn {
    margin-top: 15px;
    width: 100%;
}

.navbar-collapsed-btn {
    margin-top: 3px;
}

/*
*/
/************************ END LAYOUT ************************/
/*
*/

/*
*/
/************************ HOME ************************/
/*
*/

.home-splash {
    background:url(../img/home1.png) top left repeat;
	/*background-size: cover;*/
	max-width: 100%;
	padding: 35px 0 45px 0;
	height: auto;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
}

#welcome-responsive {
    margin-top: 10px;
	/*font-size: 0.9em;*/
	/*font-weight: 300;*/
    line-height: 200%;
	color: rgb(255, 196, 35);
    text-align: center;
}

#find-responsive {
    margin-top: 20px;
    /*line-height: 200%;*/
    /*font-size: 0.1em;*/
    color: rgb(255, 196, 35);
    text-align: center;
}

.home-actions {
	margin-top: 15px;
}

.main-home-label {
    color:white;
    font-size:1.2em;
}

.btn-home-search {
    margin: 0 10px 5px 10px;
}

.chr {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #cdcdcd;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.popular-title-responsive {
    margin-bottom: 10px;
}

.names-responsive {

}

.central-text {
    background-color: #f4f4f4;
    padding:0 10px;
}

#home-featured {
    background-color: #f4f4f4;
    max-width: 100%;
    padding: 0 0 40px 0;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
}

.best-image-container {
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    height:7em;
    line-height: 6.9em;
    background-color: #EBEBEB;
    width: 100%;
    -webkit-box-shadow: 0 8px 6px -10px black;
    -moz-box-shadow: 0 8px 6px -10px black;
    box-shadow: 0 8px 6px -10px black;
}

.best-image-container img {
    max-width:100%;
    max-height:100%;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.best-img {

}

#recent-schools {

}
/************************ END HOME ************************/



/*search*/
.modal-loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) url(../img/ajax-loader_blue.gif) 50% 50% no-repeat;
}

body.loading { /*turn off scrolling*/
    overflow: hidden;
}

body.loading .modal-loading { /*modal element will be visible */
    display: block;
}

#sub-header-menu {
    padding: 15px 0 15px 0;
    background-color: #0492da;
    color: #ffffff;
    margin-bottom: 25px;
}

.sub-header-textbox {
    color: #000000;
}

.sub-header-label {
    text-align: left;
}

#search-options-menu {

}

.radio {
    margin-left: 30px;
}

.radio label {
    padding-left: 0 !important;
}

#search-options-menu-container {
    padding: 5px 5px 5px 5px;
}

#gmapDiv {
    border: 1px solid #adadad;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0 8px 6px -10px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 8px 6px -10px;
    box-shadow: rgba(0,0,0,0.8) 0 8px 6px -10px;
    overflow: hidden;
    min-height: 172px;
}

.staticMap {
    overflow: hidden;
    width: 100%;
    min-height: 172px;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    line-height: 168px;
}

.staticMap img {
    max-width:100%;
    max-height:100%;
    margin:auto;
    vertical-align: middle;
}

.hr-sm-separator {
    border:0;
    width:90%;
    color:rgb(255, 169, 17);
    background-color:rgb(255, 169, 17);
    height: 1px;
    margin-top: 5px;
    margin-bottom: 1px;
}

.h4-like { font-size:18px; }

.mp-shadow {
    -webkit-box-shadow: -7px 4px 5px 0 rgba(201,201,201,1);
    -moz-box-shadow: -7px 4px 5px 0 rgba(201,201,201,1);
    box-shadow: -7px 4px 5px 0 rgba(201,201,201,1);
    border: 1px solid #808080;
    background-color: #eeeeee;
}

.mp-submit-find {
    color:black;
    background-color: #ffffff;
    border: 1px solid rgb(255, 169, 17);
    width: 75%;
}

.search-total {
    padding: 10px 10px 10px 10px !important;
}

.dist-icon1 {
    color: #0480be;
    font-size: 1.4em;
}
.dist-icon2 {
    color: #0480be;
    font-size: 1.1em;
    margin-left: 2px;
    margin-right: 5px;
}
.dist-icon3 {
    color: #0480be;
    font-size: 1.1em;
    margin-right: 3px;
}

.search-image-container {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    overflow:hidden;
    height: 160px;
    line-height: 156px;
    background-color: #EBEBEB;
    width: 100%;
    -webkit-box-shadow: 0 8px 6px -10px black;
    -moz-box-shadow: 0 8px 6px -10px black;
    box-shadow: 0 8px 6px -10px black;
}

.search-image-container img {
    max-width:100%;
    max-height:100%;
    margin:auto;
    vertical-align: middle;
}

.contact-info-title1 {
    color: #0480be;
    font-size: 1.3em;
}
.contact-info-tel {
    font-size: 1.3em;
}
.contact-info-hr {
    border:0;
    width:50%;
    color:rgb(255, 169, 17);
    background-color:rgb(255, 169, 17);
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.contact-info-title2 {
    color: #0480be;
    font-size: 1.1em;
}
.contact-info-mail {
    font-size: 1.1em;
}

.profile-link {
    padding-top: 8px;
}

.profile-link a, .profile-link a:active, .profile-link a:hover {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid rgb(255, 169, 17);
    font-family: raleway-semibold, sans-serif;
    font-size: 0.9em;
}

.result-name {
    font-weight: 700;
    font-size: 1.2em;
}

.result-subject span {
    color: #ffffff;
    font-weight: 700;
    font-size: 0.9em;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.result-subject .span-subject-teacher {
    background-color: #41A4CD;
}

.result-subject .span-subject-school {
    background-color: #E84C3D;
}

.result-distance {
    font-weight: 700;
    font-size: 1.2em;
    padding-top: 8px;
    padding-bottom: 12px;
}

.top-srs-separator {
    border-top: 1px solid rgb(255, 169, 17);
}

.bottom-srs-separator {
    border-bottom: 1px solid rgb(255, 169, 17);
}

.result-description-title, .result-availability-title {
    font-family: raleway-semibold, sans-serif;
    font-size: 0.8em;
    padding-top: 5px;
}

.result-description {
    font-family: raleway-medium, sans-serif;
    padding-bottom: 8px;
}

.result-availability span {
    color: #ffffff;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.pick {
    font-family: raleway-semibold, sans-serif;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #5CB85C;
}

.pick-day {
    display: inline-block;
    text-align: center;
    min-width: 34px;
    background-color: #00A651;
}

.pick-time {
    display: inline-block;
    text-align: center;
    min-width: 82px;
}

.price {
    margin-top: 10px;
    font-family: raleway-bold, sans-serif;
    font-size: 40px;
}

.per-unit {
    margin-top: -14px;
    font-family: raleway-semibold, sans-serif;
    font-size: 22px;
}

.results-separator {
    border:0;
    width:77%;
    color: #CCCCCC;
    background-color: #CCCCCC;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.show-more-link a, .show-more-link a:hover, .show-more-link a:active {
    color:#000;
    font-family: raleway-semibold, sans-serif;
}

.no-price-provided {
    padding-top: 20px;
    font-family: raleway-semibold, sans-serif;
    font-size: 15px;
}
/* END SEARCH */

/* USER PANEL */
.clear-left {
    clear:left;
}
/* END USER PANEL */

/* CONTACT */
#contact-follow {
    font-size: 1.2em;
    color: #000;
}
#contact-follow a {
    font-size: 1.1em;
    color: #0480be;
}
.contact-contact {
    font-size: 1.1em;
    color: #000;
}
.contact-glyphicon {
    color: #0480be;
    font-size: 1.4em;
}
.contact-contact-form-label {
    color: #000;
    margin-top:10px;
}
.contact-form-submit-btn-2 {
    margin-top:15px;
    min-width: 100px;
    max-height: 40px;
    font-family: raleway-semibold, sans-serif;
    border:1px solid #9A9A9A;
}
/*END CONTACT*/

/*FAQS*/
.faqs-question {
    font-family: raleway-semibold, sans-serif;
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 15px;
}
.hr-faqs {
    border:0;
    width:70%;
    color: rgb(255, 169, 17);
    background-color: rgb(255, 169, 17);
    height: 1px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.faqs-btn {
    margin-top:0px;
    min-width: 190px;
    min-height: 60px;
    line-height: 45px;
    font-family: raleway-semibold, sans-serif;
    background-color: #287AF9;
    /*border:1px solid #9A9A9A;*/
}
/*END FAQS*/
